html, body {
	padding: 0px;
	margin: 0;
	height: 100%;
}

#GuileGames {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

#GG-gameContainer {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
}

#GG-gameScreen {
	background-color: rgb(44, 44, 44);
	box-shadow: 0px 0px 2px 2px black;
}
